<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-4 col-sm-4">
      <div class="padded-light bg-registration registration-margin">
        <h2>Que veux-tu vendre?</h2>

        <%= simple_form_for([:owner, @post]) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :title, required: true, autofocus: true %>
            <%= f.input :category, required: true, autofocus: true %>
            <%= f.input :description, required: true, autofocus: true %>
            <%= f.input :price, required: true, autofocus: true %>
              <%= f.input :photo %>
              <%= f.input :photo_cache, as: :hidden %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Create" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
