<div class="text-center">
  <h1> Toutes les annonces </h1>
</div>

<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-xs-6 col-sm-4 col-lg-3 card-description">
        <div class="badge-bordered padded-mini rounded bg-white text-center">
          <%= cl_image_tag post.photo, height: 280, width: 150, crop: :fit %>
          <div>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> <i><%= post.owner.city %></i></p>
            <p><strong><%= post.title %></strong></p>
            <p><%= post.description %></p>
          </div>
          <div>
            <%= link_to "Nchouf", post_path(post), class:"btn btn-success" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
